fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
alembic
opencv-python
numpy
pillow
requests
paddlepaddle==2.6.2
paddleocr==2.10.0
insightface
onnxruntime